<%- include("templates/header") %>
  <div class="container mt-5">
    <h1>Hello, <%= name %> </h1>
    <div class="row mt-5">
      <div class="col-sm-4">
        <img src="<%= img1 %>" class="img-fluid rounded my-3" style="height: 400px;">
      </div>
      <div class="col-sm-4">
        <img src="<%= img2 %>" class="img-fluid rounded my-3" style="height: 400px;">
      </div>
      <div class="col-sm-4">
        <img src="<%= img3 %>" class="img-fluid rounded my-3" style="height: 400px;">
      </div>
    </div>
    <form action="/logout" method="post" class="mt-5">
      <button type="submit" class="btn btn-danger">Sign Out</button>
    </form>
  </div>
<%- include("templates/footer") %>